.project {
    --width: 297px;
    --height: 421px;
    --quantity: 3;
    --duration: 20s;
}

.slider {
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
       #000 10% 90%,
        transparent
    );
}

.slider .list {
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}

.slider .list .item {
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autorun var(--duration) linear infinite reverse;
    animation-delay: calc((var(--duration) / var(--quantity)) * (var(--position) - 1));
}

@keyframes autorun {
    from {
        left: 100%;
    }
    to {
        left: calc(var(--width) * -1);
    }
}